<p>
    <b>Event</b><br>
 <%= link_to @event.name ,@event %> 
</p>

<p>
    <b>Table Captain</b><br>
    <%= @table_captain.name %>
</p>

<p>
    <b>Group Number</b><br>
    <%= @dining_table.group_number %>
</p>

<p>
    <b>Physical Number</b><br>
    <%= @dining_table.physical_number %>
</p>

<p>
    <b>Table Host</b><br>
    <%#= collection_select(:table_leader, :id, @dining_table.guests, :id, :name) %>
</p>
<%= form_for @dining_table, :url => {:action => "set_table_leader"}, :html => {:class => 'form-horizontal'} do |f| %>
    <% form_tag :action => 'index' do %>
        <%= select_tag "table_leader_id",
                       options_from_collection_for_select(@dining_table.guests, :id, :name,
                                                          @dining_table.table_leader_id),
                                                          :onChange => 'submit()' %>
               <%= f.hidden_field :dining_table_id, :value => @dining_table.id %>
    <% end %>
<% end %>


<%= render "guests/guests" %>
    <% if @guests.count < 12 %>
        <%= link_to 'Add Guest', new_guest_path({:dining_table_id => @dining_table.id}), :class => 'btn btn-primary' %>
    <% else %>
        <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
            You have filled your table. If you need another table, please contact Christy at (415) 561-4522 ext 127 or christy@pachamama.org
        </div>
    <% end %>

<div class="form-actions">
    <%= link_to 'Back', event_path(@dining_table.event_id), :class => 'btn' %>
</div>
