<h1>Table</h1>

<p>
    <b>Event</b><br>
    <%= @event.name %>
</p>

<p>
    <b>Table Captain</b><br>
    <%= @table_captain.name %>
</p>

<p>
    <b>Group Number</b><br>
    <%= @dining_table.group_number %>
</p>

<p>
    <b>Physical Number</b><br>
    <%= @dining_table.physical_number %>
</p>

<%= render "guests/guests" %>
<%= link_to 'Add Guest', new_guest_path( {:dining_table_id => @dining_table.id}), :class => 'btn btn-primary' %>

<div class="form-actions">
    <%= link_to 'Back', root_path, :class => 'btn'  %>
    <% if current_user.role?("Admin")  %>
    <%= link_to 'Edit', edit_dining_table_path(@dining_table), :class => 'btn' %>
    <%= link_to 'Delete', dining_table_path(@dining_table), :method => 'delete',
                :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    <% end %>
</div>