<% if current_user.role? :admin %>
    <h2>Admin</h2>
    <%= link_to 'Add User', new_user_path, :class => 'btn btn-primary' %>
    <%= link_to 'Add Event', new_event_path, :class => 'btn btn-primary' %>
    <%= link_to 'Show Users', users_path, :class => 'btn btn-primary' %>
<% else %>
    <h2>Table Captain: <%= current_user.name %></h2>
<% end %>
<%= render(@events.empty? ? "table_captain_intro" :  "events/events") %>
