<h3>Home</h3>
<br />


<table>
    <tr>
        <th> Email </th>
        <th> Name </th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.name %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>
</table>

<br />


<% if can? :manage, @user %>
        <p><%= link_to "Create User", new_user_path %></p>
<% end %>


