<h1> <%= @event.name %> </h1>

<p>
    <b>Location</b><br>
    <%= @event.location %>
</p>

<p>
    <b>Date</b><br>
    <%= @event.date %>
</p>
<%= render "dining_tables/dining_tables" %>
<% if current_user.role? :admin %>
    <%= link_to 'Add Table', new_dining_table_path(:event_id => @event.id), :class => 'btn btn-primary' %>
<% end %>
<div class="form-actions">
    <%= link_to 'Back', root_path, :class => 'btn'  %>
</div>